{% extends "base.html" %}
{% block title %}<title>Стажёр Тукай</title>{% endblock %}
{% block content %}
<div class="bg-gray-100">
  <section class="py-10">
    <div class="container mx-auto text-center">
      <h1 class="text-4xl font-bold text-gray-800 mb-10 mx-2">Добро пожаловать в "Стажёр Тукай"!</h1>
      <p class="text-xl text-gray-600 mb-8 mx-2">Здесь ваш процесс создания контента ускорится в несколько раз.</p>
      </div>
  </section>
  
  <section class="bg-white py-16">
    <div class="container mx-auto text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-8 mx-4">Что предлагает наше веб-приложение?</h2>
      <div class="flex flex-wrap justify-center">
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-4 mb-8 flex-grow">
            <div class="bg-green-100 p-6 rounded-lg h-full">
              <h3 class="text-xl font-semibold text-gray-800 mb-4">Генерация субтитров</h3>
              <p class="text-gray-600">Приложение поддерживает генерацию субтитров с возможностью редактирования ошибок, а также поддерживает несколько языков для.</p>
            </div>
          </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-4 mb-8 flex-grow">
          <div class="bg-green-100 p-6 rounded-lg h-full">
            <h3 class="text-xl font-semibold text-gray-800 mb-4">Транскрибация</h3>
            <p class="text-gray-600">Трансформация аудио в текст с сохранением знаков препинания и поддержкой нескольких языков.</p>
          </div>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-4 mb-8 flex-grow">
            <div class="bg-green-100 p-6 rounded-lg h-full">
              <h3 class="text-xl font-semibold text-gray-800 mb-4">Обобщение</h3>
              <p class="text-gray-600">Способность обобщать текст на нескольких языка. Легко получить краткое содержание статьи на английском сразу на татарском.</p>
            </div>
          </div>
      </div>
    </div>
  </section>

<section class="bg-gray-100 py-8">
  <div class="container mx-auto text-center">
      <div class="flex flex-row justify-center items-center mb-4">
          <div>
              <p class="mb-4">Связаться с нами:</p>
              <a href="https://t.me/@RomanMakar0v" target="_blank" class="text-green-800 hover:underline">
                @RomanMakar0v
              </a><br>
              <a href="https://t.me/liaaaaaana" target="_blank" class="text-green-800 hover:underline">
                  @liaaaaaana
              </a><br>
              <a href="https://t.me/@varbaris" target="_blank" class="text-green-800 hover:underline">
                  @varbaris
              </a>
          </div>
      </div>
  </div>
</section>

</div>
{% endblock %}
